$background: #2D3743; // emacs color
/* $background: #001B33; // gedit color */

$accent1: #FF9C00; // Yellowish orange
$accent2: #210EC3; // blue
$accent3: #6D6A86; // Purple
$accent4: #FF5300; // Redish orange
$accent5: #463B14; // olive brown
$accent6: #C19B92; // pale pink
$accent7: #60E800; // green
$accent8: #C1B792; // tope/tan

// #e5e5e5 good grey
