<div class="container accent-color">
  <h1>About Me && This Site</h1>
  <i>April 23rd, 2016</i>
  <br/>
  <br/>
  <img src="/images/sloth.jpg"></img>
  <p>I'm Collin Barnwell - I'm a <a target="_blank" href="https://github.com/collinbarnwell">coder</a>, a writer (kind of) a Northwestern University student (for a few more weeks), and a proud American <img src="/images/us_flag.png"></img>.
    I'm interested in business, tech, artificial intelligence, film, traveling and journalism, among other things.
  </p>
  <!-- <p> -->
  <!--   I like Paul Thomas Anderson movies, Wes Anderson movies, National Geographic,  -->
  <!-- </p> -->
  <p>
    I try to have at least one programming project and at least one non-programming creative project going most of the time, and this is the place where I plan to put up the things that I make.
  </p>

  <p>
    Feel free to Tweet at me (
    <a href="https://twitter.com/intent/tweet?screen_name=CollinBarnwell" class="twitter-mention-button" data-size="large" data-related="CollinBarnwell" data-dnt="true">Tweet to @CollinBarnwell</a>
    ); I've been trying to get myself to use Twitter more.
  </p>
</div>
