<div class="container">
  <h1 class="accent-color">Coding Projects (online only)</h1>
  <br/><br/>
  <div class="content-card accent-color-secondary">
    <h2><a href="http://collinbarnwell.github.io/tax-compare/" target="_blank">Interactive Income Tax Comparison - USA, California, Canada and Sweden</a></h2>
    <i>March 2016</i>
    <p>
      I did some research about progressive income taxes in a few different places and made an interactive infographic.
    </p>
    <a href="http://collinbarnwell.github.io/tax-compare/" target="_blank">See it here</a>
  </div>

  <div class="content-card accent-color">
    <h2><a href="http://collinbarnwell.github.io/robot-hands/" target="_blank">Phong shader in WebGL</a></h2>
    <i>Winter 2014</i>
    <p>
      Scene with a panicked robotic trashcan, a dancing tree, and a big, pink robot hand in a vaguely "oh the places you'll go" style landscape.
    </p>
    <p>
      Buggy in some browsers; best in Firefox.
    </p>
    <a href="http://collinbarnwell.github.io/robot-hands/" target="_blank">See it here</a>
  </div>

  <div class="content-card accent-color-secondary">
    <h2><a href="http://collinbarnwell.github.io/blocks-my-socks/" target="_blank">Ray Tracer implemented in WebGL</a></h2>
    <i>Spring 2014</i>
    <p>
      A WebGL experiment building a ray tracer from scratch.
    </p>
    <p>
      It can take a long time to load - doing graphics calculations in pure JavaScript can get pretty slow.
    </p>
    <a href="http://collinbarnwell.github.io/robot-hands/" target="_blank">See it here</a>
  </div>
</div>
