<h1>Digital Humanities Portfolio</h1>
<br/>
<p><i>A collection of digital humanities (conceptual internet art?) projects I did in Spring 2016.</i></p>
<br/>
<ul>
  <li>
    <h2>Final Project</h2>
    <div class="vid-wrapper">
      <iframe src="https://www.youtube.com/embed/4Ib05zMeYyQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <p><a href="http://newhive.com/jukeboxwafer/peter-pan-painted-puppet-performance">Click here for background info and project description.</a></p>
  </li>

  <li>
    <h2><a href="http://newhive.com/jukeboxwafer/profile/feed">Newhive Collection</a></h2>
  </li>

  <li>
    <h2>Reading of "Zombie Jesus", by Jamaal May</h2>
    <div class="vid-wrapper">
      <iframe src="https://www.youtube.com/embed/tk_BowdUYM0" frameborder="0" allowfullscreen></iframe>
    </div>
  </li>

  <li>
    <h2><a href="https://myspace.com/jukeboxwafer">Anything else I might have missed</a></h2>
  </li>
</ul>
